

/* From https://codepen.io/t_afif/pen/abKyJNJ Thanks Temani! Great Looking buttons! */
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background: #F2DCA2;
}
button {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
  --c:  orange; /* the color*/

}








.cootie-catcher{
  height: 200px;
  width: 200px;
}

.inner-flaps {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.inner-flaps {
  height:  80%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.inner-flap {
  background: gray;
  height: 50%;
  width: 50%;
}

.open.horizontal .inner-flap {
  -webkit-clip-path:polygon(0 100%, 100% 100%, 100% 10%);
}

.open.vertical .inner-flap {
  -webkit-clip-path:polygon(0 100%, 100% 100%, 100% 10%);
}

.outer-flaps {
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  position: relative;
  height: 100%;
  top: -100%;
}

.outer-flap {
  height: 50%;
  width: 50%;
   -webkit-clip-path:polygon(0 0, 100% 20%, 99% 99%, 20% 100%);
}

.open.horizontal .outer-flap {
  -webkit-clip-path: polygon(0% 100%, 10% 0%, 100% 30%, 20% 100%);
}

.open.vertical .outer-flap {
-webkit-clip-path: polygon(0% 20%, 100% 0%, 100% 30%, 20% 100%);
}

.outer-flap.top-left {
  background: orange  ;
}

.top-right {
  transform: scaleX(-1);
}

.outer-flap.top-right {
  background: skyblue;
}

.bottom-left {
  transform: scaleY(-1);
}

.outer-flap.bottom-left {
  background: limegreen;
}

.bottom-right {
  transform: scaleX(-1) scaleY(-1);
}

.outer-flap.bottom-right {
  background: violet;
}

.inner-flap.bottom-left, .inner-flap.top-right {
  background: silver;
}

.outer-flap.clickable:hover {
  filter: brightness(110%) saturate(120%)
}







/* 

button {
  --c:  orange; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
} */

